@import "../../constants.scss";

.product-card__price {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.product-card__description {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.product-card__add-to-wish-list {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
