@import "../../constants.scss";

.wishList-card__price {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.wishList-card__delete-from-wish-list {
  background-color: transparent;
  border: transparent;
}
.wishList-card__add-cart {
  background-color: transparent;
  border: transparent;
}
