@import "../../constants.scss";

footer {
  margin-top: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;

  a {
    text-decoration: none;
    color: $primary-dark;

    &:visited {
      color: $primary-dark;
    }

    &:hover {
      color: $purple;
      text-decoration: underline;
    }

    &:active {
      color: $secondary-light;
    }
  }
}
