$rosy-brown: #ffc1c1;
$white-smoke: #f5f5f5;
$light-coral: #f08080;
$orchid: #db70db;
$white: white;
$black: black;
$light-grey: #d3d3d3;
$misty-rose: #cdb7b5;
$purple: rgb(139, 139, 237);

$primary: $orchid; // Used for the background of main elements that needs to be highlighted and the background of buttons
$primary-light: $white-smoke; // Used for background to text boxes that pops up or need to stand out from white background
$primary-dark: $light-coral; // Used for sub-headings as a background colour
$secondary: $rosy-brown; // Used for headings as a background colour
$secondary-light: $misty-rose;

$text-color: $black;
$text-color-light: $white; // For use on dark backgrounds
$site-background: $light-grey;
