@import "../../constants.scss";

.card {
  margin: 0 auto;
  position: relative;
  width: 90%;
  max-width: 400px;
  background-color: $secondary-light;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: 0 4px 8px 0 $secondary-light, 0 6px 20px 0 $secondary-light;

  .card__title {
    color: $text-color-light;
    text-align: center;
    font-size: x-large;
    font-kerning: normal;
    font-weight: bold;
    margin: 0;
    padding: 2.5px;
  }

  .card__image {
    width: 100%;
    height: auto;
    min-height: 250px;
    max-height: 250px;
  }

  .card__contents {
    text-align: center;
  }
}
